version: "3.9"

services:
  backend:
    build: ./restaurant_api
    container_name: fastapi_app
    depends_on:
      - mysql
    environment:
      SQLALCHEMY_DATABASE_URL: mysql+pymysql://root:root@mysql_db:3306/sample_db
    ports:
      - "8000:8000"
    networks:
      - app-network
    

  frontend:
    build: ./our-restaurant
    container_name: vue_app
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sample_db
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
